<% include ../layouts/admin/header %>
<h1 class="text-center">Mofas</h1>
<div class="card">
    <div class="card-body">
        <h2>All Mofas</h2>

        <div class="table-responsive">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>PAX Code</th>
                        <th>PAX Name</th>
                        <th>Reference</th>
                        <th>Group/SL</th>
                        <th>Occupation</th>
                        <th>Visa ID</th>
                        <th>Health Payment</th>
                        <th>Embassy Payment</th>
                        <th>Type</th>
                        <th>E Number</th>
                        <th>Total</th>
                        <th colspan="2" class="text-center">Option(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <% mofas.forEach(mofa => { %>
                    <tr>
                        <td><%= mofa.pax.code %></td>
                        <td><%= mofa.pax.name %></td>
                        <td><%= mofa.group.visa_supplier %></td>
                        <td><%= mofa.group.group_seq %> / <%= mofa.group.group_sl %></td>
                        <td><%= mofa.group.occupation %></td>
                        <td><%= mofa.group.visa_id %></td>
                        <td><%= mofa.health_payment %></td>
                        <td><%= mofa.embassy_payment %></td>
                        <td><%= mofa.type %></td>
                        <% if(mofa.e_number) { %>
                        <td><%= mofa.e_number %></td>
                        <% } else { %>
                        <td>----</td>
                        <% } %>
                        <td><%= mofa.health_payment + mofa.embassy_payment + mofa.type %></td>
                        <% if(mofa.e_number) { %>
                        <td><a href="/mofa/sticker/<%= mofa._id %>">Sticker</a></td>
                        <% } %>
                        <% if(admin.isSuperAdmin) { %>
                        <td> <a href="/mofa/timeline/<%= mofa._id %>">Timeline</a></td>
                        <% } %>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../layouts/admin/footer %>