<% include ../layouts/admin/header %>


<div class="row">
    <div class="col-md-12">
            <form action="/medical/update/<%= medical._id %>" method = "POST" multipart = "form-data">
            <% if(pax && medical) { %>
                <h1 class = "text-center">PAX Information</h1>
                <table class = "table table-bordered">
                    <tr>
                        <th>PAX Code</th>
                        <th>PAX Name</th>
                        <th>PAX No</th>
                        <th>Reference</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%= pax.code %></td>
                        <td><%= pax.name %></td>
                        <td><%= pax.passport %></td>
                        <td><%= pax.supplier.name %></td>
                        <td> <div class="form-group">
                                <select name="group" id="group" class = "form-control">
                                    <% if(groups) { %>
                                        <% groups.forEach(group => { %>
                                            <option value="<%= group._id %>" <%= typeof medical != 'undefined' && medical && medical.group.equals(group._id) ? 'selected' : '' %>><%= group.group_seq %> / <%= group.group_sl %></option>
                                        <% }) %>
                                    <% } %>
                                </select>              
                            </div></td>
                
                    </tr>          
                </table>
             <% } %>   
            <% if(medical && medical.medical_slip) { %>
                    <div class="col-md-6">
                            <h1>Medical Center Information</h1>
                            <div class="form-group">
                                    <label for="center">Medical Center Name</label>
                                    <input type="text" name = "center" id = "center" class = "form-control" value = "<%= medical.center_name %>"> 
                                </div>
                                <div class="form-group">
                                    <label for="slip">Medical Slip</label>
                                    <input type="file" name = "slip" id = "slip" class = "form-control"> 
                                    <img src="" alt="" style = "max-width : 500px; height : auto" id = "photo">
                                    <img src="/uploads/medical/<%= medical.medical_slip %>" alt=""  style = "max-width : 500px; height : auto">
                                </div>
                                <div class="form-group">
                                    <label for="issue">Medical Issue Date</label>
                                    <input type="date" name = "issue" id = "issue" class = "form-control" value = "<%= moment(new Date(medical.issue)).format('YYYY-MM-DD') %>">
                                </div>
                    </div>
            <% } if(medical && medical.medical_slip && medical.status) {  %>    
                <div class="row">
                    <div class="col-md-6">
                            <h1>Medical Report</h1>
                            <form action="/medical/register/report/<%= pax.code %>" method = "POST" enctype = "multipart/form-data">
                                <input type="hidden" name = "code" value = "<%= pax.code %>">
                                <input type="hidden" name = "pax" value = "<%= pax._id %>">
                                <div class="form-group">
                                    <label for="status">Medical Status</label>
                                    <select name="status" id="status" class = "form-control">
                                        <option value="fit" <%= medical.status == 'fit' ? 'selected' : '' %>>Fit</option>
                                        <option value="unfit" <%= medical.status == 'unfit' ? 'selected' : '' %>>Unfit</option>
                                        <option value="interview" <%= medical.status == 'interview' ? 'selected' : '' %>>Interview</option>
                                    </select>
                                </div>
                                <div id="unfit">
                                    <div class="form-group">
                                        <label for="reason">Reason for unfit</label>
                                        <textarea name="reason" id="reason" cols="30" rows="10" class = "form-control"><%= medical.unfit_reason %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="slip">Medical Slip</label>
                                        <input type="file" name = "unfit_slip" id = "slip" class = "form-control"> 
                                        <img src="" alt="" style = "max-width : 500px; height : auto" id = "photo">
                                        <img src="/uploads/medical/<%= medical.unfit_slip %>" alt=""  style = "max-width : 500px; height : auto">
                                    </div>
                                </div>
                                <div id="interview">
                                    <div class="form-group">
                                        <label for="interview">Interview Date</label>
                                        <input type="date" name = "interview" id = "interview" class = "form-control" value = "<%= moment(new Date(medical.interview_date)).format('YYYY-MM-DD') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="expiry">Medical Expiration Date</label>
                                        <input type="date" name = "expiry" id = "expiry" class = "form-control"  value = "<%= moment(new Date(medical.expiry)).format('YYYY-MM-DD') %>">
                                    </div>
                    </div>
                </div>
                
             <% } %>   
             <div class="form-group text-center">
                    <input type="submit" value = "Update" class = "btn btn-success">
            </div>
            </form>
    </div>
</div>
 <% include ../layouts/admin/footer %>