<% include ../layouts/admin/header %>
<% include ./search %>

<div class="row">
    <div class="col-md-12">
            <% if(pax && medical) { %>
                <h1 class = "text-center">PAX Information</h1>
                <table class = "table table-bordered">
                    <tr>
                        <th>PAX Code</th>
                        <th>PAX Name</th>
                        <th>PAX No</th>
                        <th>Reference</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%= pax.code %></td>
                        <td><%= pax.name %></td>
                        <td><%= pax.passport %></td>
                        <td><a href="/supplier/<%= pax.supplier.seq_id %>"><%= pax.supplier.name %></a></td>
                        <td><a href="/group/<%= medical.group._id %>"><%= medical.group.group_seq %> / <%= medical.group.group_sl  %></a></td>
                    </tr>          
                </table>
             <% } %>   
            <% if(medical && medical.medical_slip) { %>
                <h1>Medical Center Information</h1>
                <table class = "table table-bordered">
                    <tr>
                        <th>Medical Center name</th>
                        <th>Medical Issue Date</th>
                        <th>Medical Slip</th>
                    </tr>
                    <tr>
                        <td><%= medical.center_name %></td>
                        <td><%= moment(medical.issue).format("llll") %></td>
                        <td><a data-fancybox="gallery" href="/uploads/medical/<%= medical.medical_slip %>"><img src="/uploads/medical/<%= medical.medical_slip %>" alt="" style = "max-width : 500px; height : 100px" ></a></td>
                    </tr>
                </table>
                <% } if (medical && medical.medical_slip && medical.medical_status) { %>
               
            <% } else {  %>    
                <div class="row">
                    <div class="col-md-6">
                            <h1>Medical Report</h1>
                            <form action="/medical/register/report/<%= pax.code %>" method = "POST" enctype = "multipart/form-data">
                                <input type="hidden" name = "code" value = "<%= pax.code %>">
                                <input type="hidden" name = "pax" value = "<%= pax._id %>">
                                <div class="form-group">
                                    <label for="status">Medical Status</label>
                                    <select name="status" id="status" class = "form-control">
                                        <option value="fit">Fit</option>
                                        <option value="unfit">Unfit</option>
                                        <option value="interview">Interview</option>
                                    </select>
                                </div>
                                <div id="unfit">
                                    <div class="form-group">
                                        <label for="reason">Reason for unfit</label>
                                        <textarea name="reason" id="reason" cols="30" rows="10" class = "form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="slip">Medical Slip</label>
                                        <input type="file" name = "slip" id = "slip" class = "form-control"> 
                                        <img src="" alt="" style = "max-width : 500px; height : auto" id = "photo">
                                    </div>
                                </div>
                                <div id="interview">
                                    <div class="form-group">
                                        <label for="interview">Interview Date</label>
                                        <input type="date" name = "interview" id = "interview" class = "form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="expiry">Medical Expiry Date</label>
                                        <input type="date" name = "expiry" id = "expiry" class = "form-control">
                                    </div>
                                <div class="form-group">
                                    <input type="submit" value = "Save" class = "btn btn-success">
                                </div>
                            </form>
                    </div>
                </div>
                
             <% } %>   
    </div>
</div>
 <% include ../layouts/admin/footer %>