<% include ../layouts/admin/header %>
<% include ./search %>

<div class="row">
    <div class="col-md-12">
            <% if(pax && medical) { %>
                <h1 class = "text-center">PAX Information</h1>
                <table class = "table table-bordered">
                    <tr>
                        <th>PAX Code</th>
                        <th>PAX Name</th>
                        <th>PAX No</th>
                        <th>Reference</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%= pax.code %></td>
                        <td><%= pax.name %></td>
                        <td><%= pax.passport %></td>
                        <td><a href="/supplier/<%= pax.supplier.seq_id %>"><%= pax.supplier.name %></a></td>
                        <td><a href="/group/<%= medical.group._id %>"><%= medical.group.group_seq %> / <%= medical.group.group_sl  %></a></td>
                    </tr>          
                </table>
             <% } %>   
            <% if(medical && medical.medical_slip) { %>
                <h1>Medical Center Information</h1>
                <table class = "table table-bordered">
                    <tr>
                        <th>Medical Center name</th>
                        <th>Medical Issue Date</th>
                        <th>Medical Slip</th>
                    </tr>
                    <tr>
                        <td><%= medical.center_name %></td>
                        <td><%= moment(medical.issue).format("ll") %></td>
                        <td><a data-fancybox="gallery" href="/uploads/medical/<%= medical.medical_slip %>"><img src="/uploads/medical/<%= medical.medical_slip %>" alt="" style = "max-width : 500px; height : 100px" ></a></td>
                    </tr>
                </table>
                <% } if (medical && medical.medical_slip && medical.status) { %>
                    <h1>Medical Report</h1>
                    <a href="/medical/report/edit/<%= medical._id %>" class = "btn btn-info">Update</a>
                    <table class = "table table-bordered">
                            <tr>
                                <th>Medical Status</th>
                                <% if(medical.unfit_reason) { %>
                                    <th>Unfit Reason</th>
                                    <th>Unfit Medical Slip</th>
                                <% } %>
                                <% if(medical.status == "interview" && medical.interview_date) { %>
                                    <th>Interview Date</th>
                                <% } %>
                                <th>Medical Expiration Date</th>
                            </tr>
                            <tr>
                                <td><%= medical.status %></td>
                                <% if(medical.status == "unfit" && medical.unfit_reason) { %>
                                    <td><%= medical.unfit_reason %></td>
                                    <td><a data-fancybox="gallery" href="/uploads/medical/<%= medical.unfit_slip %>"><img src="/uploads/medical/<%= medical.unfit_slip %>" alt="" style = "max-width : 500px; height : 100px" ></a></td>
                                <% } %>
                                <% if(medical.status == "interview" && medical.interview_date) { %>
                                    <td><%= moment(medical.interview_date).format("ll") %></td>
                                <% } %>
                                <td><%= moment(medical.medical_expiry).format("ll") %></td>
                            </tr>
                        </table>
            <% } else {  %>    
                <div class="row">
                    <div class="col-md-6">
                            <form action="/medical/register/report/<%= pax.code %>" method = "POST" enctype = "multipart/form-data">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "code" value = "<%= pax.code %>">
                                <input type="hidden" name = "pax" value = "<%= pax._id %>">
                                <div class="form-group">
                                    <label for="status">Medical Status</label>
                                    <select name="status" id="status" class = "form-control">
                                        <option value="fit">Fit</option>
                                        <option value="unfit">Unfit</option>
                                        <option value="interview">Interview</option>
                                    </select>
                                </div>
                                <div id="unfit">
                                    <div class="form-group">
                                        <label for="reason">Reason for unfit</label>
                                        <textarea name="reason" id="reason" cols="30" rows="10" class = "form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="slip">Medical Slip</label>
                                        <input type="file" name = "unfit_slip" id = "slip" class = "form-control"> 
                                        <img src="" alt="" style = "max-width : 500px; height : auto" id = "photo">
                                    </div>
                                </div>
                                <div id="interview">
                                    <div class="form-group">
                                        <label for="interview">Interview Date</label>
                                        <input type="date" name = "interview" id = "interview" class = "form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="expiry">Medical Expiration Date</label>
                                        <input type="date" name = "expiry" id = "expiry" class = "form-control"  value = "<%= typeof form != 'undefined' ? moment(new Date(form.expiry)).format('YYYY-MM-DD') : '' %>">
                                    </div>
                                <div class="form-group">
                                    <input type="submit" value = "Save" class = "btn btn-success">
                                </div>
                            </form>
                    </div>
                </div>
                
             <% } if(typeof editReport != 'undefined' && editReport) {  %>    
                <div class="row">
                    <div class="col-md-6">
                            <h1>Medical Report</h1>
                            <form action="/medical/report/update/<%= medical._id %>" method = "POST" enctype = "multipart/form-data">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "code" value = "<%= pax.code %>">
                                <input type="hidden" name = "pax" value = "<%= pax._id %>">
                                <div class="form-group">
                                    <label for="status">Medical Status</label>
                                    <select name="status" id="status" class = "form-control">
                                        <option value="fit" <%= medical.status == 'fit' ? 'selected' : '' %>>Fit</option>
                                        <option value="unfit" <%= medical.status == 'unfit' ? 'selected' : '' %>>Unfit</option>
                                        <option value="interview" <%= medical.status == 'interview' ? 'selected' : '' %>>Interview</option>
                                    </select>
                                </div>
                                <div id="unfit">
                                    <div class="form-group">
                                        <label for="reason">Reason for unfit</label>
                                        <textarea name="reason" id="reason" cols="30" rows="10" class = "form-control" ><% if (medical.status == "unfit") { %><%= medical.unfit_reason %><% } %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="slip">Medical Slip</label>
                                        <% if (medical.status == "unfit") { %><img src="/uploads/medical/<%= medical.unfit_slip %>" alt="" style = "max-width : 500px; height : auto"><% } %>
                                        <input type="file" name = "unfit_slip" id = "slip" class = "form-control"> 
                                        <img src="" alt="" style = "max-width : 500px; height : auto" id = "photo">
                                    </div>
                                </div>
                                <div id="interview">
                                    <div class="form-group">
                                        <label for="interview">Interview Date</label>
                                        <input type="date" name = "interview" id = "interview" class = "form-control" value = "<%= moment(new Date(medical.interview_date)).format('YYYY-MM-DD') %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="expiry">Medical Expiration Date</label>
                                        <input type="date" name = "expiry" id = "expiry" class = "form-control"  value = "<%= moment(new Date(medical.medical_expiry)).format('YYYY-MM-DD') %>">
                                    </div>
                                <div class="form-group">
                                    <input type="submit" value = "Update" class = "btn btn-success">
                                </div>
                            </form>
                    </div>
                </div>
                
             <% } %>   
    </div>
</div>
 <% include ../layouts/admin/footer %>