<% include ../layouts/header %>
    <h1><%= supplier.name %></h1>    
    <form action = "/supplier/update/<%= supplier._id %>" method = "POST" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name = "name" id = "name" class = "form-control" value = "<%= supplier.name %>">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name = "email" id = "email" class = "form-control" value = "<%= supplier.email %>"> 
        </div>
        <div class="form-group">
            <label for="birth_date">Birth Date</label>
            <input type="text" name = "birth_date" id = "name" class = "form-control" placeholder = "dd/mm/yy" value = "<%= supplier.birth_date %>">
        </div>
        <div class="form-group">
            <label for="blood">Blood Group</label>
            <input type="text" name = "blood" id = "name" class = "form-control" value = "<%= supplier.blood_group %>">
        </div>
        <div class="form-group">
            <label for="nid">National ID</label>
            <input type="text" name = "nid" id = "nid" class = "form-control" value = "<%= supplier.nid %>">
        </div>
        <div class="form-group">
            <label for="passport">Passport ID</label>
            <input type="text" name = "passport" id = "passport" class = "form-control" value = "<%= supplier.passport %>">
        </div>
        <div class="form-group">
            <label for="present_address">Present Address</label>
            <textarea name="present_address" id="present_address" cols="30" rows="5" class = "form-control"><%= supplier.present_address %></textarea>
        </div>
        <div class="form-group">
            <label for="permanent_address">Permanent Address</label>
            <textarea name="permanent_address" id="permanent_address" cols="30" rows="5" class = "form-control"><%= supplier.permanent_address %></textarea>
        </div>
        <% if(supplier.supplier) { %>
        <div class="form-group">
            <label for="supplier">Assigned Supplier</label>
            <select name="supplier" id="supplier" class = "form-control">
                <option value=""><%= supplier.supplier.name %></option>
            </select>
        </div>
        <% } %>
        <div class="form-group">
            <label for="profile_photo">Profile Photo</label>
            <img src = "/uploads/supplier/<%= supplier.profile_photo %>" height = "100px" width = "100px">
        </div>
        <div class="form-group">
            <label for="passport_photo">Passport Photo</label>
            <img src = "/uploads/supplier/<%= supplier.passport_photo %>" height = "100px" width = "100px">
        </div>
        <div class="form-group">
                <input type="submit" name = "submit" value = "Update" class = "btn btn-success">
            </div>
    </form>   
<% include ../layouts/footer %>