<% include ../layouts/admin/header %>
    <h1>Code : <%= supplier.code %></h1>    
    <form action = "/supplier/update/<%= supplier._id %>/?_csrf=<%= csrfToken %>" method = "POST" enctype = "multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name = "name" id = "name" class = "form-control" value = "<%= supplier.name %>">
                </div>
                <div class="form-group">
                    <label for="nid">NID / Passport No.</label>
                    <input type="text" name = "nid" id = "nid" class = "form-control" value = "<%= supplier.nid %>">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" name = "contact" id = "contact" class = "form-control" value = "<%= supplier.contact %>"> 
                </div>
                <div class="form-group">
                    <label for="introducer_name">Introducer Name</label>
                    <input type="text" name = "introducer_name" id = "introducer_name" class = "form-control" value = "<%= supplier.introducer_name %>">
                </div>
                <div class="form-group">
                    <label for="introducer_number">Introducer Number</label>
                    <input type="text" name = "introducer_number" id = "introducer_number" class = "form-control" value = "<%= supplier.introducer_number %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="present_address">Present Address</label>
                    <textarea name="present_address" id="present_address" cols="30" rows="5" class = "form-control"><%= supplier.present_address %></textarea>
                </div>
                <div class="form-group">
                    <label for="permanent_address">Permanent Address</label>
                    <textarea name="permanent_address" id="permanent_address" cols="30" rows="5" class = "form-control"><%= supplier.permanent_address %></textarea>
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label for="profile_photo">Profile Photo</label>
                    <input type="file" name = "profile_photo" id = "profile_photo">
                    <a data-fancybox="gallery" href = "/uploads/supplier/<%= supplier.profile_photo %>"><img src = "/uploads/supplier/<%= supplier.profile_photo %>"style = "height:auto;max-width:500px;" id = "photo"></a>
                </div>
           </div>
           <div class="col-md-6">
                <div class="form-group">
                    <label for="passport_photo">Passport Photo</label>
                    <input type="file" name = "passport_photo" id = "passport_photo">
                    <a data-fancybox="gallery" href = "/uploads/supplier/<%= supplier.passport_photo %>"><img src = "/uploads/supplier/<%= supplier.passport_photo %>" style = "height:auto;max-width:500px;" id = "photo1"></a>
                </div>
           </div>
       </div>
        
        <div class="form-group">
            <input type="submit" name = "submit" value = "Update" class = "btn btn-success">
        </div>
    </form>   
<% include ../layouts/admin/footer %>