<% include ../layouts/admin/header %>
    <h1>Admin ID : <%= adminInfo.seq_id %>
        <div class="pull-right">
            <a href="/admin/profile/edit" class = "btn btn-info">Edit</a>
        </div>
    </h1>
    <table class = "table table-bordered">
            <tr>
                <th>Name</th>
                <td><%= adminInfo.name %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= adminInfo.email %></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><%= adminInfo.contact %></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><%= adminInfo.address %></td>
            </tr>
            <tr>
                <th>Profile Photo</th>
                <td> <img src = "/uploads/admin/<%= adminInfo.profile_photo %>" style = "height:auto;max-width:500px;" id = "photo"></td>
            </tr>
        </table>

<% include ../layouts/admin/footer %>