<% include ../layouts/admin/header %>
    <h1>ID - <%= adminInfo.seq_id %>
        <div class="pull-right">
            <a href="/admin/edit/<%= adminInfo.seq_id %>" class = "btn btn-info">Edit</a>
            <a href = "#" class = "btn btn-danger delete-admin" data-id = "<%= adminInfo._id %>">Delete</a>
        </div>
    </h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name = "name" id = "name" class = "form-control" value = "<%= adminInfo.name %>" disabled readonly> 
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name = "email" id = "email" class = "form-control"  value = "<%= adminInfo.email %>" disabled readonly> 
    </div>
    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" name = "contact" id = "contact" class = "form-control" value = "<%= adminInfo.contact %>" disabled readonly>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <textarea name="address" id="address" cols="30" rows="5" class = "form-control" disabled readonly><%= adminInfo.address %></textarea>
    </div>
    <div class="form-group">
        <label for="profile_photo">Profile Photo</label>
         <img src = "/uploads/admin/<%= adminInfo.profile_photo %>" style = "height:auto;max-width:500px;" id = "photo">
    </div>
    
<% include ../layouts/admin/footer %>