<% include ../layouts/admin/header %>
    <h1>ID - <%= adminInfo.seq_id %>
        <div class="pull-right">
            <a href = "/admin/timeline/<%= adminInfo.seq_id %>" class = "btn btn-primary">Show Timeline</a>
            <a href="/admin/edit/<%= adminInfo.seq_id %>" class = "btn btn-info">Edit</a>
            <a href = "#" class = "btn btn-danger delete-admin" data-id = "<%= adminInfo._id %>" data-csrf = "<%= csrfToken %>">Delete</a>
        </div>
    </h1>
    <table class = "table table-bordered">
            <tr>
                <th>Name</th>
                <td><%= adminInfo.name %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= adminInfo.email %></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><%= adminInfo.contact %></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><%= adminInfo.address %></td>
            </tr>
            <tr>
                <th>Profile Photo</th>
                <td><a data-fancybox="gallery" href="/uploads/admin/<%= adminInfo.profile_photo %>"><img src = "/uploads/admin/<%= adminInfo.profile_photo %>" style = "height:auto;max-width:500px;" id = "photo"></a></td>
            </tr>
        </table>
<% include ../layouts/admin/footer %>