<% include ../layouts/admin/header %>

<h1 class="text-center">Training Certificates</h1>
<div class="card">
    <div class="card-body">
        <h2>All Information</h2>

        <div class="table-responsive">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>PAX Code</th>
                        <th>PAX Name</th>
                        <th>TC Received</th>
                        <th>Finger</th>
                        <th>TC Document</th>
                        <% if(admin.isSuperAdmin) { %>
                        <th colspan="2" class="text-center">Option(s)</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>

                    <% if(tcs.length > 0) { %>
                    <% tcs.forEach(tc => { %>
                    <tr>
                        <td><a href="/pax/<%= tc.pax.seq_id %>"><%= tc.pax.code %></a></td>
                        <td><%= tc.pax.name %></td>
                        <td>
                            <% if(tc.tc_received == 1) { %>
                            Yes
                            <% } else { %>
                            NO
                            <% } %>
                        </td>
                        <td>
                            <% if(tc.finger == 1) { %>
                            Yes
                            <% } else { %>
                            NO
                            <% } %>
                        </td>
                        <td>
                            <% if(tc.tc_pdf) { %>
                            <a href="/tc/download/<%= tc._id %>">View TC</a>
                            <% } else { %>
                            NO PDF
                            <% } %>
                        </td>
                        <% if(admin.isSuperAdmin) { %>
                        <td><a href="#" class="btn btn-sm btn-danger delete-tc" data-id="<%= tc._id %>"
                                data-csrf="<%= csrfToken %>">Delete</a></td>
                        <td> <a href="/tc/timeline/<%= tc._id %>">Timeline</a></td>
                        <% } %>
                    </tr>
                    <% }) %>
                    <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../layouts/admin/footer %>