<% include ../layouts/admin/header %>
    <div class="row">
        <div class="col-md-12">
                <div style = "text-align: center">
                        <h1>Search By PAX Code</h1>
                    
                        <form action="/tc/search" method = "POST">
                            <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <div class="col-md-offset-4 col-md-4 ">
                                    <div class="form-group">
                                        <label for="code">PAX Code</label>
                                        <input type="text" name = "code" id = "code" class = "form-control" value = "<%= typeof form != 'undefined' ? form.code : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" name = "submit" value = "Search" class = "btn btn-success">
                                    </div>
                                </div>
                        </form>
                </div>
        </div>
    </div>
    
   <div class="row">
       <div class="col-md-12">
            <div class="card">
                    <div class="card-body">
                        <h2>TC Info </h2>  
                        <form action="/tc/register/<%= pax._id %>/?_csrf=<%= csrfToken %>" method = "POST" enctype = "multipart/form-data">

                              <div class="form-group">
                                <input type="checkbox" name = "tc_received" value = "1" id = "tc_received" <%= tc && tc.tc_received == '1' ? 'checked' : '' %>> 
                                <label for="tc_received">TC Received</label>
                              </div>
                              <% if(tc.tc_pdf) { %>
                              <a href="/tc/download/<%= tc._id %>">View TC</a>
                              <% } %>
                              <div class="form-group">
                                  <label for="tc_pdf">PDF of TC</label>
                                  <input type="file" name = "tc_pdf" id = "tc_pdf">
                              </div>
                                <div class="form-group">
                                    <input type="checkbox" name = "finger" id = "finger" value = "1" <%= tc && tc.finger == 1 ? 'checked' : '' %>> 
                                    <label for="finger">Finger</label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value = "Save" class = "btn btn-success">
                                </div>
                        </form>    
                           
                    </div>
                </div>
       </div>
   </div>
<% include ../layouts/admin/footer %>