<% include ../layouts/admin/header %>
    <h1>Code : <%= newUser.code %></h1> 
    
    <form action = "/pax/update/<%= newUser._id %>/?_csrf=<%= csrfToken %>" method = "POST" enctype = "multipart/form-data">
        <input type="hidden" name = "code" value = "<%= newUser.code %>">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name = "name" id = "name" class = "form-control" value = "<%= newUser.name %>" >
                </div>
                <div class="form-group">
                    <label for="father">Father Name</label>
                    <input type="text" name = "father" id = "father" class = "form-control" value = "<%= newUser.father %>" >
                </div>
                <div class="form-group">
                    <label for="mother">Mother Name</label>
                    <input type="text" name = "mother" id = "mother" class = "form-control" value = "<%= newUser.mother %>" >
                </div>
                <div class="form-group">
                    <label for="contact">Contact No.</label>
                    <input type="text" name = "contact" id = "contact" class = "form-control" value = "<%= newUser.contact %>" > 
                </div>
                <div class="form-group">
                    <label for="birth_date">Birth Date</label>
                    <input type="date" name = "birth_date" id = "birth_date" class = "form-control" value = "<%= moment(new Date(newUser.birth_date)).format('YYYY-MM-DD') %>" >
                </div>
                <div class="form-group">
                    <label for="blood">Blood Group</label>
                    <select name="blood" id="blood" class = "form-control">
                        <option value="">Choose Blood Group</option>
                        <option value="A+" <%= newUser.blood_group == 'A+' ? 'selected' : '' %>>A+</option>
                        <option value="A-" <%= newUser.blood_group == 'A-' ? 'selected' : '' %>>A-</option>
                        <option value="AB+" <%= newUser.blood_group == 'AB+' ? 'selected' : '' %>>AB+</option>
                        <option value="AB-" <%= newUser.blood_group == 'AB-' ? 'selected' : '' %>>AB-</option>
                        <option value="B+" <%= newUser.blood_group == 'B+' ? 'selected' : '' %>>B+</option>
                        <option value="B-" <%= newUser.blood_group == 'B-' ? 'selected' : '' %>>B-</option>
                        <option value="O+" <%= newUser.blood_group == 'O+' ? 'selected' : '' %>>O+</option>
                        <option value="O-" <%= newUser.blood_group == 'O-' ? 'selected' : '' %>>O-</option>
                    </select>
                </div>
                <div class="form-group">

                        <label for="national">Nationality</label>
    
                        <input type="text" name = "national" id = "national" class = "form-control" value = "<%= newUser.national %>">
    
                    </div>
    
                    <div class="form-group">
    
                        <label for="gender">Gender</label>
    
                        <select name="gender" id="gender" class = "form-control">
    
                            <option value="">Choose Gender</option>
    
                            <option value="male" <%= newUser.gender == 'male' ? 'selected' : '' %>>Male</option>
    
                            <option value="female" <%= newUser.gender == 'female' ? 'selected' : '' %>>Female</option>
    
                        </select>
    
                    </div>
                    <div class="form-group">

                            <label for="religion">Religion</label>
        
                            <input type="text" name = "religion" id = "religion" class = "form-control" value = "<%= newUser.religion %>">
        
                        </div>
    
                        <div class="form-group">

                                <label for="maritial">Maritial Status</label>
            
                                <select name="maritial" id="maritial" class = "form-control">
                                        <option value="">Choose Status</option>
                                    <option value="married" <%= newUser.maritial == 'married' ? 'selected' : '' %>>Married</option>
            
                                    <option value="unmarried" <%= newUser.maritial == 'unmarried' ? 'selected' : '' %>>Unmarried</option>
            
                                </select>
            
                            </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nid">National ID</label>
                    <input type="text" name = "nid" id = "nid" class = "form-control" value = "<%= newUser.nid %>" >
                </div>
                <div class="form-group">
                    <label for="passport">Passport ID</label>
                    <input type="text" name = "passport" id = "passport" class = "form-control" value = "<%= newUser.passport %>" >
                </div>
                <div class="form-group">

                    <label for="issue">Date of issue</label>
                    <input type="date" name = "issue" id = "issue" class = "form-control" value = "<%= moment(new Date(newUser.issue)).format('YYYY-MM-DD') %>" >

                </div>
                <div class="form-group">

                    <label for="expiry">Date of expiry</label>
                    <input type="date" name = "expiry" id = "expiry" class = "form-control" value = "<%= moment(new Date(newUser.expiry)).format('YYYY-MM-DD') %>" >

                </div>
                <div class="form-group">
                    <label for="present_address">Present Address</label>
                    <textarea name="present_address" id="present_address" cols="30" rows="5" class = "form-control" ><%= newUser.present_address %></textarea>
                </div>
                <div class="form-group">
                    <label for="permanent_address">Permanent Address</label>
                    <textarea name="permanent_address" id="permanent_address" cols="30" rows="5" class = "form-control"><%= newUser.permanent_address %></textarea>
                </div>
                
                <div class="form-group">
    
                        <label for="group">Assign Group</label>

                        <select name="group" id="group" class = "form-control">

                            <option value="">Choose Group</option>

                            <% if(groups.length) { %>

                                <% groups.forEach(group =>  { %>

                                    <option value="<%= group._id %>" 

                                            <% if(newUser.group.equals(group._id)) { %> selected <% } %>

                                        ><%= group.group_seq %>/ <%= group.group_sl %></option>

                                <% }) %>

                            <% } %>

                        </select>

                    </div>
                <div class="form-group">
                    <label for="supplier">Assign Supplier</label>
                    <select name="supplier" id="supplier" class = "form-control">
                        <option value="" <%= newUser.supplier ? 'disabled' : '' %>>Choose Supplier</option>
                        <% if(suppliers.length) { %>
                            <% suppliers.forEach(supplier =>  { %>
                                
                                <option value="<%= supplier._id %>" 
                                    <% if(newUser.supplier && newUser.supplier.equals(supplier._id)) { %> selected <% } %>
                                ><%= supplier.name %>
                                </option>
                                
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="profile_photo">Profile Photo</label>
                    <input type = "file" name = "profile_photo" id = "profile_photo">
                    <a data-fancybox="gallery" href = "https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.profile_photo %>"><img src = "https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.profile_photo %>" style = "height:auto;max-width:500px;" id = "photo"></a>
                </div>      
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="passport_photo">Passport Photo</label>
                    <input type = "file" name = "passport_photo" id = "passport_photo">
                    <a data-fancybox="gallery" href = "https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.passport_photo %>"><img src = "https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.passport_photo %>" style = "height:auto;max-width:500px;" style = "height:auto;max-width:100%;" id = "photo1"></a>
                </div>
            </div>
        </div>
       <div class="col-md-12">
           <% if(newUser.experience_year || newUser.experience_month || newUser.experience_day) { %>
                <div class="form-group" >

                    <label for="experience_image">Experience Image</label>
                    <input type="file" name = "experience_image" id = "experience_image">
                    <img src="" alt="" style = "height:auto;max-width:500px;" id = "photo2">
                    <a data-fancybox="gallery" href = "https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.experience_image %>"><img src="https://s3.ap-south-1.amazonaws.com/hr-app-test/<%= newUser.company %>/pax/<%= newUser.code %>/<%= newUser.experience_image %>" alt="" style = "height:auto;max-width:500px;"></a>
                </div>
                    <div class="col-md-4">

                        <div class="form-group">

                            <label for="year">Year</label>

                            <select name="year" id="year" class = "form-control">

                                <% for(let i = 0; i <= 60; i++) { %>

                                    <option value="<%= i %>" <%= newUser.experience_year == i ? 'selected' : '' %>><%= i %></option>

                                <% } %>

                            </select>
                        </div>
                     </div>
                     <div class="col-md-4">

                            <div class="form-group">
    
                                <label for="year">Month</label>
    
                                <select name="month" id="month" class = "form-control">
    
                                    <% for(let i = 0; i <= 11; i++) { %>
    
                                        <option value="<%= i %>" <%= newUser.experience_month == i ? 'selected' : '' %>><%= i %></option>
    
                                    <% } %>
    
                                </select>
                            </div>
                         </div>
                         <div class="col-md-4">

                                <div class="form-group">
        
                                    <label for="year">Day</label>
        
                                    <select name="day" id="day" class = "form-control">
        
                                        <% for(let i = 0; i <= 30; i++) { %>
        
                                            <option value="<%= i %>" <%= newUser.experience_day == i ? 'selected' : '' %>><%= i %></option>
        
                                        <% } %>
        
                                    </select>
                                </div>
                             </div>
           <% } else {  %>  
            <div class="form-group">

                    <input type="checkbox" name = "experience" value = "1" id = "experience">

                    <label for="experience">Any Experience</label>

                </div>

                <div class="div" id = "experience-div">

                        <div class="form-group" >

                            <label for="experience_image">Experience Image</label>
                            <input type="file" name = "experience_image" id = "experience_image">
                            <img src="" alt="" style = "height:auto;max-width:500px;" id = "photo2">

                        </div>
                        <div class="col-md-4">

                                    <div class="form-group">
    
                                        <label for="year">Year</label>
    
                                        <select name="year" id="year" class = "form-control">
    
                                            <% for(let i = 0; i <= 100; i++) { %>
    
                                                <option value="<%= i %>" <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %></option>
    
                                            <% } %>
    
                                        </select>
    
                                    </div>
    
                               
    
                            </div>
                            <div class="col-md-4">

                                    <div class="form-group">
        
                                        <div class="form-group">
        
                                            <label for="month">Month</label>
        
                                            <select name="month" id="month" class = "form-control">
        
                                                <% for(let i = 0; i <= 11; i++) { %>
        
                                                    <option value="<%= i %>" <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %></option>
        
                                                <% } %>
        
                                            </select>
        
                                        </div>
        
                                    </div>
        
                                </div>
        
                                <div class="col-md-4">
        
                                        <div class="form-group">
        
                                                <div class="form-group">
        
                                                    <label for="day">Day</label>
        
                                                    <select name="day" id="day" class = "form-control">
        
                                                        <% for(let i = 0; i <= 30; i++) { %>
        
                                                            <option value="<%= i %>" <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %></option>
        
                                                        <% } %>
        
                                                    </select>
        
                                                </div>
        
                                            </div>
        
                                </div>
                </div>        
                        
           <% } %> 

       </div>
      
        <div class="form-group">
            <input type="submit" name = "submit" value = "Update" class = "btn btn-success">
        </div>
    </form>    
<% include ../layouts/admin/footer %>