<% include ../layouts/admin/header %>

    <h1 class = "text-center">PAX Home</h1>
    <div class="card">
        <div class="card-body">
            <h2>All PAX</h2>     
            <div class="pull-right">
                <a href="/pax/register" class = "btn btn-primary">Create New PAX</a>
            </div>   
            <br><br>

            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Passport ID</th>
                        <th>Assigned Supplier</th>
                        <th>Group</th>
                        <th>Date</th>
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(users) { %>
                        <% users.forEach(function(user) { %>
                            <tr>
                                <td><a href = "/pax/<%= user.seq_id %>"><%= user.code %></a></td>
                                <td><%= user.name %></td>
                                <td><%= user.contact %></td>
                                <td><%= user.passport %></td>
                                <% if(user.supplier) { %>
                                    <td><a href="/supplier/<%= user.supplier.seq_id %>"><%= user.supplier.name %></a></td>
                                <% } else { %>
                                    <td>No Supplier</td>
                                <% } %>
                                <td><a href="/group/<%= user.group._id %>"><%= user.group.group_seq %> / <%= user.group.group_sl %></a></td>
                                <td><%= moment(user.created_at).format("llll") %></td>
                                <td><img src = "uploads/user/<%= user.profile_photo %>" height = "50px" width = "50px"></td>
                            </tr>
                        <% }) %>
                    <% } %>
                 </tbody>   
            </table>
        </div>
    </div>
<% include ../layouts/admin/footer %>