<% include ../layouts/admin/header %>
    <h1>Register</h1>

    <form action="/pax/register" method = "POST" enctype = "multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name = "name" id = "name" class = "form-control" value = "<%= typeof form != 'undefined' ? form.name : '' %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name = "email" id = "email" class = "form-control" value = "<%= typeof form != 'undefined' ? form.email : '' %>"> 
                </div>
                <div class="form-group">
                        <label for="birth_date">Birth Date</label>
                        <input type="date" name = "birth_date" id = "birth_date" class = "form-control" value = "<%= typeof form != 'undefined' ? form.birth_date : '' %>">
                    </div>
                <div class="form-group">
                    <label for="blood">Blood Group</label>
                    <select name="blood" id="blood" class = "form-control">
                        <option value="">Choose Blood Group</option>
                        <option value="A+" <%= typeof form != 'undefined' && form.blood == 'A+' ? 'selected' : '' %>>A+</option>
                        <option value="A-" <%= typeof form != 'undefined' && form.blood == 'A-' ? 'selected' : '' %>>A-</option>
                        <option value="AB+" <%= typeof form != 'undefined' && form.blood == 'AB+' ? 'selected' : '' %>>AB+</option>
                        <option value="AB-" <%= typeof form != 'undefined' && form.blood == 'AB-' ? 'selected' : '' %>>AB-</option>
                        <option value="B+" <%= typeof form != 'undefined' && form.blood == 'B+' ? 'selected' : '' %>>B+</option>
                        <option value="B-" <%= typeof form != 'undefined' && form.blood == 'B-' ? 'selected' : '' %>>B-</option>
                        <option value="O+" <%= typeof form != 'undefined' && form.blood == 'O+' ? 'selected' : '' %>>O+</option>
                        <option value="O-" <%= typeof form != 'undefined' && form.blood == 'O-' ? 'selected' : '' %>>O-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nid">National ID</label>
                    <input type="text" name = "nid" id = "nid" class = "form-control" value = "<%= typeof form != 'undefined' ? form.nid : '' %>">
                </div>
                <div class="form-group">
                    <label for="passport">Passport ID</label>
                    <input type="text" name = "passport" id = "passport" class = "form-control" value = "<%= typeof form != 'undefined' ? form.passport : '' %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label for="present_address">Present Address</label>
                        <textarea name="present_address" id="present_address" cols="30" rows="5" class = "form-control"><%= typeof form != 'undefined' ? form.present_address : '' %></textarea>
                    </div>
                <div class="form-group">
                    <label for="permanent_address">Permanent Address</label>
                    <textarea name="permanent_address" id="permanent_address" cols="30" rows="5" class = "form-control"><%= typeof form != 'undefined' ? form.permanent_address : '' %></textarea>
                </div>
                <div class="form-group">
                    <label for="supplier">Assign Supplier</label>
                    <select name="supplier" id="supplier" class = "form-control">
                        <option value="">Choose Supplier</option>
                        <% if(suppliers.length) { %>
                            <% suppliers.forEach(supplier =>  { %>
                                <option value="<%= supplier._id %>" 
                                        <% if(typeof form != 'undefined' && typeof form.supplier != 'undefined' && form.supplier == supplier._id) { %> selected <% } %>
                                    ><%= supplier.name %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                            <label for="profile_photo">Profile Photo</label>
                            <input type="file" name = "profile_photo" id = "profile_photo" style = "height:auto;max-width:100%;">
                            <img src="" alt="" id = "photo">
                        </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                        <label for="passport_photo">Passport Photo</label>
                        <input type="file" name = "passport_photo" id = "passport_photo" style = "height:auto;max-width:100%;">
                        <img src="" alt="" id = "photo1">
                </div>
            </div>
        </div>
        <div class="form-group">
                <input type="submit" name = "submit" value = "Register" class = "btn btn-success">
        </div>
    </form>
<% include ../layouts/admin/footer %>