<% include ../layouts/admin/header %>

<h1>Register</h1>



<form action="/pax/register/?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-6">

            <% if(companyInfo.user != 0) { %>

            <label for="code">Code : </label>

            <input type="text" name="code" id="code" class="form-control"
                value="<%= typeof form != 'undefined' ? form.code : '' %>">

            <% } else { %>

            <label for="code">Start from your New PAX Code : </label>

            <input type="text" name="code" id="code" class="form-control"
                value="<%= typeof form != 'undefined' ? form.code : '' %>">

            <% } %>

            <div class="form-group">

                <label for="name">Name</label>

                <input type="text" name="name" id="name" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.name : '' %>">

            </div>

            <div class="form-group">

                <label for="father">Father Name</label>

                <input type="text" name="father" id="father" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.name : '' %>">

            </div>

            <div class="form-group">

                <label for="mother">Mother Name</label>

                <input type="text" name="mother" id="mother" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.name : '' %>">

            </div>

            <div class="form-group">

                <label for="contact">Contact No. </label>

                <input type="text" name="contact" id="contact" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.contact : '' %>">

            </div>

            <div class="form-group">

                <label for="birth_date">Birth Date</label>

                <input type="date" name="birth_date" id="birth_date" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.birth_date : '' %>">

            </div>

            <div class="form-group">

                <label for="blood">Blood Group</label>

                <select name="blood" id="blood" class="form-control">

                    <option value="">Choose Blood Group</option>

                    <option value="A+" <%= typeof form != 'undefined' && form.blood == 'A+' ? 'selected' : '' %>>A+
                    </option>

                    <option value="A-" <%= typeof form != 'undefined' && form.blood == 'A-' ? 'selected' : '' %>>A-
                    </option>

                    <option value="AB+" <%= typeof form != 'undefined' && form.blood == 'AB+' ? 'selected' : '' %>>AB+
                    </option>

                    <option value="AB-" <%= typeof form != 'undefined' && form.blood == 'AB-' ? 'selected' : '' %>>AB-
                    </option>

                    <option value="B+" <%= typeof form != 'undefined' && form.blood == 'B+' ? 'selected' : '' %>>B+
                    </option>

                    <option value="B-" <%= typeof form != 'undefined' && form.blood == 'B-' ? 'selected' : '' %>>B-
                    </option>

                    <option value="O+" <%= typeof form != 'undefined' && form.blood == 'O+' ? 'selected' : '' %>>O+
                    </option>

                    <option value="O-" <%= typeof form != 'undefined' && form.blood == 'O-' ? 'selected' : '' %>>O-
                    </option>

                </select>

            </div>

            <div class="form-group">

                <label for="national">Nationality</label>

                <input type="text" name="national" id="national" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.national : '' %>">

            </div>
            <div class="form-group">

                <label for="religion">Religion</label>

                <input type="text" name="religion" id="religion" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.religion : '' %>">

            </div>

            <div class="form-group">

                <label for="gender">Gender</label>

                <select name="gender" id="gender" class="form-control">

                    <option value="">Choose Gender</option>

                    <option value="male" <%= typeof form != 'undefined' && form.gender == 'male' ? 'selected' : '' %>>
                        Male</option>

                    <option value="female"
                        <%= typeof form != 'undefined' && form.gender == 'female' ? 'selected' : '' %>>Female</option>

                </select>

            </div>
            <div class="form-group">

                <label for="maritial">Maritial Status</label>

                <select name="maritial" id="maritial" class="form-control">
                    <option value="">Choose Status</option>
                    <option value="married"
                        <%= typeof form != 'undefined' && form.maritial == 'married' ? 'selected' : '' %>>Married
                    </option>

                    <option value="unmarried"
                        <%= typeof form != 'undefined' && form.maritial == 'unmarried' ? 'selected' : '' %>>Unmarried
                    </option>

                </select>

            </div>



        </div>

        <div class="col-md-6">

            <div class="form-group">

                <label for="nid">National ID</label>

                <input type="text" name="nid" id="nid" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.nid : '' %>">

            </div>

            <div class="form-group">

                <label for="passport">Passport ID</label>

                <input type="text" name="passport" id="passport" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.passport : '' %>">

            </div>

            <div class="form-group">

                <label for="issue">Date of issue</label>

                <input type="date" name="issue" id="issue" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.issue : '' %>">

            </div>
            <div class="form-group">

                <label for="expiry">Date of expiry</label>

                <input type="date" name="expiry" id="expiry" class="form-control"
                    value="<%= typeof form != 'undefined' ? form.expiry : '' %>">

            </div>

            <div class="form-group">

                <label for="present_address">Present Address</label>

                <textarea name="present_address" id="present_address" cols="30" rows="5"
                    class="form-control"><%= typeof form != 'undefined' ? form.present_address : '' %></textarea>

            </div>

            <div class="form-group">

                <label for="permanent_address">Permanent Address</label>

                <textarea name="permanent_address" id="permanent_address" cols="30" rows="6"
                    class="form-control"><%= typeof form != 'undefined' ? form.permanent_address : '' %></textarea>

            </div>
            <div class="form-group">

                <label for="group">Assign Group</label>

                <select name="group" id="group" class="form-control">

                    <option value="">Choose Group</option>

                    <% if(groups.length) { %>

                    <% groups.forEach(group =>  { %>

                    <option value="<%= group._id %>"
                        <% if(typeof form != 'undefined' && typeof form.group != 'undefined' && form.group == group._id) { %>
                        selected <% } %>><%= group.group_seq %>/ <%= group.group_sl %></option>

                    <% }) %>

                    <% } %>

                </select>

            </div>

            <div class="form-group">

                <label for="supplier">Assign Supplier</label>

                <select name="supplier" id="supplier" class="form-control">

                    <option value="">Choose Supplier</option>

                    <% if(suppliers.length) { %>

                    <% suppliers.forEach(supplier =>  { %>

                    <option value="<%= supplier._id %>"
                        <% if(typeof form != 'undefined' && typeof form.supplier != 'undefined' && form.supplier == supplier._id) { %>
                        selected <% } %>><%= supplier.name %></option>

                    <% }) %>

                    <% } %>

                </select>

            </div>

        </div>

    </div>



    <div class="row">

        <div class="col-md-12">
            <div class="col-md-6">

                <div class="form-group">

                    <label for="profile_photo">Profile Photo</label>

                    <input type="file" name="profile_photo" id="profile_photo">

                    <img src="" alt="" id="photo" style="height:auto;max-width:300px;">

                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">

                    <label for="passport_photo">Passport Photo</label>

                    <input type="file" name="passport_photo" id="passport_photo">

                    <img src="" alt="" id="photo1" style="height:auto;max-width:300px;">
                </div>
            </div>

        </div>

        <div class="col-md-12">

            <div class="form-group">

                <input type="checkbox" name="experience" value="1" id="experience">

                <label for="experience">Any Experience</label>

            </div>

            <div class="div" id="experience-div">

                <div class="form-group">

                    <label for="experience_image">Experience Image</label>
                    <input type="file" name="experience_image" id="experience_image">
                    <img src="" alt="" style="height:auto;max-width:500px;" id="photo2">

                </div>

                <div class="col-md-4">

                    <div class="form-group">

                        <div class="form-group">

                            <label for="year">Year</label>

                            <select name="year" id="year" class="form-control">

                                <% for(let i = 0; i <= 100; i++) { %>

                                <option value="<%= i %>"
                                    <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %>
                                </option>

                                <% } %>

                            </select>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">

                        <div class="form-group">

                            <label for="month">Month</label>

                            <select name="month" id="month" class="form-control">

                                <% for(let i = 0; i <= 11; i++) { %>

                                <option value="<%= i %>"
                                    <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %>
                                </option>

                                <% } %>

                            </select>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">

                        <div class="form-group">

                            <label for="day">Day</label>

                            <select name="day" id="day" class="form-control">

                                <% for(let i = 0; i <= 30; i++) { %>

                                <option value="<%= i %>"
                                    <%= typeof form != 'undefined' && form.year == 'male' ? 'selected' : '' %>><%= i %>
                                </option>

                                <% } %>

                            </select>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="form-group">

        <input type="submit" name="submit" value="Register" class="btn btn-success">

    </div>

</form>

<% include ../layouts/admin/footer %>