<% include ../layouts/admin/header %>
    <h1>Register</h1>

    <form action="/user/register" method = "POST" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name = "name" id = "name" class = "form-control" value = "<%= typeof form != 'undefined' ? form.name : '' %>">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name = "email" id = "email" class = "form-control" value = "<%= typeof form != 'undefined' ? form.email : '' %>"> 
        </div>
        <div class="form-group">
            <label for="birth_date">Birth Date</label>
            <input type="text" name = "birth_date" id = "name" class = "form-control" placeholder = "dd/mm/yy" value = "<%= typeof form != 'undefined' ? form.birth_date : '' %>">
        </div>
        <div class="form-group">
            <label for="blood">Blood Group</label>
            <input type="text" name = "blood" id = "name" class = "form-control" value = "<%= typeof form != 'undefined' ? form.blood : '' %>">
        </div>
        <div class="form-group">
            <label for="nid">National ID</label>
            <input type="text" name = "nid" id = "nid" class = "form-control" value = "<%= typeof form != 'undefined' ? form.nid : '' %>">
        </div>
        <div class="form-group">
            <label for="passport">Passport ID</label>
            <input type="text" name = "passport" id = "passport" class = "form-control" value = "<%= typeof form != 'undefined' ? form.passport : '' %>">
        </div>
        <div class="form-group">
            <label for="present_address">Present Address</label>
            <textarea name="present_address" id="present_address" cols="30" rows="5" class = "form-control"><%= typeof form != 'undefined' ? form.present_address : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="permanent_address">Permanent Address</label>
            <textarea name="permanent_address" id="permanent_address" cols="30" rows="5" class = "form-control"><%= typeof form != 'undefined' ? form.permanent_address : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="supplier">Assign Supplier</label>
            <select name="supplier" id="supplier" class = "form-control">
                <option value="">No Supplier</option>
                <% if(suppliers.length) { %>
                    <% suppliers.forEach(supplier =>  { %>
                        <option value="<%= supplier._id %>"><%= supplier.name %></option>
                    <% }) %>
                <% } %>
            </select>
            </div>
        <div class="form-group">
            <label for="profile_photo">Profile Photo</label>
            <input type="file" name = "profile_photo" id = "profile_photo">
        </div>
        <div class="form-group">
            <label for="passport_photo">Passport Photo</label>
            <input type="file" name = "passport_photo" id = "passport_photo">
        </div>
        <div class="form-group">
            <input type="submit" name = "submit" value = "Register" class = "btn btn-success">
        </div>
    </form>
<% include ../layouts/admin/footer %>