<% include ../layouts/admin/header %>
    
   <div id="sticker-info">
        
        <h6><a href="/pax/pdf/<%= newUser.seq_id %>" class = "btn btn-info">Download Sticker</a></h6>
        
        <table class = "table table-bordered" id = "sticker">
                <tr>
                    <th>Code</th>
                    <td><%= newUser.code %></td>
                </tr>
                <tr>
                    <th>Reference</th>
                    <td><%= newUser.supplier.name %></td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td><%= zone.country %></td>
                </tr>
                <tr>
                    <th>Occupation</th>
                    <td><%= newUser.group.occupation %></td>
                </tr>
            </table>
        </div>    
<% include ../layouts/admin/footer %>