<% include ../layouts/admin/header %>
    <h1>ID : <%= newUser.seq_id %>
        <div class="pull-right">
            <a href = "/user/timeline/<%= newUser.seq_id %>" class = "btn btn-primary">Show Timeline</a>
            <a href = "/user/sticker/<%= newUser.seq_id %>" class = "btn btn-warning">Generate Sticker</a>
            <a href = "/user/edit/<%= newUser.seq_id %>" class = "btn btn-info">Edit</a>
            <a href = "#" class = "btn btn-danger delete-user" data-id = "<%= newUser._id %>">Delete</a>
        </div>
    </h1>    
   
    <table class = "table table-bordered">
            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><%= newUser.name %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= newUser.email %></td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td><%= newUser.birth_date %></td>
            </tr>
            <tr>
                <th>Blood Group</th>
                <td><%= newUser.blood_group %></td>
            </tr>
            <tr>
                <th>National ID</th>
                <td><%= newUser.nid %></td>
            </tr>
            <tr>
                <th>Passport ID</th>
                <td><%= newUser.passport %></td>
            </tr>
            <tr>
                <th>Present Address</th>
                <td><%= newUser.present_address %></td>
            </tr>
            <tr>
                <th>Present Address</th>
                <td><%= newUser.present_address %></td>
            </tr>
            <% if (newUser.supplier) { %>
                <tr>
                    <th>Assigned Supplier</th>
                    <td><%= newUser.supplier.name %></td>
                </tr>
             <% } %>   
            <tr>
                <th>Profile Photo</th>
                <td> <img src="/uploads/user/<%= newUser.profile_photo %>" alt="" style = "height : auto; max-width : 400px;"></td>
            </tr>
            <tr>
                <th>Passport Photo</th>
                <td> <img src="/uploads/user/<%= newUser.passport_photo %>" alt="" style = "height : auto; max-width : 400px;"></td>
            </tr>
        </table>
<% include ../layouts/admin/footer %>